body {
   background-color: #bad7df;
   position: center;
}

hr {
  border-style: none;
  border-top-style: dotted;
  height: 0px;
  width: 25%;
  border-color: grey;
  border-width: 4px;
}

h1 {
  color: #142850;
  font-family: 'Dancing Script', cursive;
  font-size: 48px;
}

h3 {
  color: #142850;
  font-family: 'Dancing Script', cursive;
}

a {
  font-family: 'Orbitron', sans-serif;
}

/*img:hover {
  background-color: red;
  width: 100px;
}*/
 
