body {
   background-color: #50d890;
   margin: 0px;
}

h1 {
  margin: 0px;
}

p {
  margin: 0px;
}

.top {
  background-color: #4f98ca;
  margin: 0px;/*
  width: 200px;
  height: 200px;
  border: solid 10px;
  padding: 20px;*/
}

.mid {
  background-color: #effffb;
  height: 200px;/*
  width: 200px;
  border: solid 20px;
  margin-left: 260px;*/
}

.bottom {
  background-color: #272727;
  height: 200px;/*
  width: 200px;
  boder: solid 10px;
  margin-left: 500px;*/
}

.pro {
  text-decoration: underline;
}
