body {
   background-color: #50d890;
   margin: 0px;
   text-align: center;
   font-family: monospace;
   color: #40514e;
}

h1 {
  font-family: 'Lacquer', sans-serif;
  font-size: 562.5%;
  margin: 50px auto 0 auto;
  color: #d55252;
  line-height: 2;
  /* font-size: 100% = 16px = 1em*/
}

h2 {
  font-family: 'Saira Semi Condensed', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #394a6d;
  font-size: 2em;
}

a{
  color: #e6a400;
}

p {
  margin: 0px;
  font-family: 'Saira Semi Condensed', sans-serif;
  font-size: 200%;
}

.top {
  /*background-color: #4f98ca;*/
  background-image: linear-gradient(to bottom, #4f98ca, #effffb);
  margin: 0px;
  position: relative;
  padding-top: 100px;/*
  width: 200px;
  height: 200px;
  border: solid 10px;
  padding: 20px;*/
}

.mid {
  background-color: #effffb;
  /*height: 200px;/*
  width: 200px;
  border: solid 20px;
  margin-left: 260px;*/
}

.bottom {
  background-color: #272727;
  border-top: 100px;
  /*height: 200px;/*
  width: 200px;
  boder: solid 10px;
  margin-left: 500px;*/
}

.pro {
  text-decoration: underline;
}

.bottom-cloud {
  position: absolute;
  left: 500px;
  bottom: 400px;
  width: 10%;
  height: 10%;
}

.top-cloud {
  position: absolute;
  top: 50px;
  right: 300px;
  width: 170px;
}

.mountain {
  width: 70%;
  height: 55%;
  margin-bottom: 0px;
  border-radius: 15%
}

.copyright {
  color: white;
}

.profile-photo{
  /*filter: grayscale(55%);*/
  border-radius: 50%;
}

.btn{
  font-size: 150%;
}

.footer-link {
  line-height: 4;
  font-size: 140%;
}

.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.code{
  width: 25%;
  float: left;
  margin-right: 35px;
}

.editing{
  width: 25%;
  float: right;
  margin-left: 35px;
}
/*
.code-skill-description{
  clear: left;
}

.editing-skill-description{
  clear: right;
}*/

hr {
  border-top: 13px solid #66BFBF;
}

.contact-hr{
  border-top: 5px dotted #05004e;
  width: 25%;
  margin-bottom: 30px;
}
