body{
  font-family: "Montserrat";
}

h1{
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 4rem;
  line-height: 1.5;
  color: #ffffff;
}

h2{
  font-size: 3rem;
  font-family: "Montserrat";
  font-weight: 900;
  line-height: 1.5;
}
h3{
  font-family: "Montserrat";
  font-weight: bold;
}

p{
  color:#8f8f8f;
}

#title{
  background-color: #ff4c68;
}

.navbar{
  padding: 0 0 5.5rem;
}

.navbar-brand{
  font-family: "Ubuntu";
  font-size: 3rem;
  font-weight: bold;
  color: #fff;
}

.nav-item{
  padding: 0 18px;
}

.nav-link{
  font-family: "Montserrat";
  font-size: 1.2rem;
  font-weight: "Light";
}

.container-fluid{
  padding: 3% 15%;
}

.download-button {
  margin: 5% 3% 5% 0;
}

.title-image{
  width: 60%;
  transform: rotate(25deg);
}

.desc-text{
  color: #8f8f8f;
}

#features{
  padding: 7% 15%;
}

.feature-box{
  text-align: center;
  padding: 5%;
}

.icon{
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover{
  color: #ff4c68;
}

.down-menu{
  padding: 0 18px 0 18px;
}

#testimonials{
  padding: 7% 15%;
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

.testimonial-image{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press{
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-image{
  width: 15%;
  margin: 20px 20px 50px;
}

.carousel-item{
  padding: 7% 15%;
}
